{% extends 'base.html' %}
{% block title %}index{% endblock %}
{% block content %} 

    <div class="row row-cols-3 row-cols-md-3 g-30 pt-5">
        {% for meal in meals %}
            <div class="col">
                    <div class="card">
                        <img src="{{meal.strMealThumb}}" class="card-img-top" alt="{{ meal.strMeal }}">
                        <div class="card-body">
                        <h2 class="card-text">{{ meal.strMeal }}</h2>
                        <p class="card-title">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
